<div id="main-container" class="container-fluid">
  <div class="row" id='page-wrapper'>
    <div class="col-sm-1">
    </div>
    <div class='col-sm-10' id='page-content'>
      <div class="page_title">Our Team</div>
      <div class="row">
        <div class="staff_name">Frank Chitwood || Riverkeeper</div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <p class='staff_text'>
            As the staff Riverkeeper, Frank is tasked with acting as the eyes, ears, and voice of the Coosa River. Chitwood actively patrols the Coosa River by boat and plane. Responding to citizen complaints of pollution, conducting permit research, and discovering illegal pollution keep Frank in tune with the myriad threats to the Coosa River. The Riverkeeper exemplifies citizen activism, but with a core, mainstream value: clean water is a right for all.
          </p>
          <p class='staff_text'>
            Frank has been the Riverkeeper since the organization was founded in 2010. His favorite part of the job is talking to people about the value of the river and finding out their “Coosa Connection.” His least favorite of the job is when he has to tell someone it’s not safe to eat the fish where they live.
          </p>
          <p class='staff_text'>
            The father’s side of Frank’s family has lived along the Etowah tributary of the Coosa River near Lake Allatoona since about 1830 (well before the lake was built). Frank, however, is a first-generation Alabamian. His favorite places in Alabama growing up were Camp Laney in Little River Canyon of the Coosa Valley and Talladega National Forest. At 26, Frank is the youngest of 200+ Waterkeepers worldwide. He patrols the river with patrol dog Youk in the Laura Moore II, our patrol boat.
          </p>
        </div>
        <div class="col-sm-4">
          <img id='frank_img' src="http://coosariver.org/wp-content/uploads/2013/02/oxford-wastewater-chitwo99-copy-464x1024.jpg">
        </div>

      </div>
      <div class="row">
          <div class="staff_name">
            Justinn Overton || Executive Director
          </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <img id='frank_img' src="http://coosariver.org/wp-content/uploads/2013/02/DSC_0489-copy.jpg">
        </div>
        <div class="col-sm-8">
          <p class='staff_text'>
            Justinn has a deep family connection to the Coosa Valley and has always loved playing outside as much as possible. She’s proud to work to restore and protect the Coosa- it’s been a constant part of her life!
          </p>
          <p class='staff_text'>
            Growing up in the Coosa Valley, Justinn spent time fishing and exploring the banks of the river with her parents. Years later, she got married at Alabama 4-H Center on Lay Lake.
          </p>
          <p class='staff_text'>
            As the Executive Director, she ensures Coosa Riverkeeper has the resources needed to fight for swimmable, drinkable, and fishable water. She also coordinates many other aspects of our organization such as membership, capacity building, special events, and outreach.
          </p>
          <p class="staff_text">
            Before joining the staff of Coosa Riverkeeper, she worked with the Alabama Chapter of the U.S. Green Building Council implementing the Building Green Jobs for Alabama program, a statewide federally funded workforce development grant. During her time at USGBC Alabama, she trained 300+ Alabamians about green building principles and sustainability.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>