<div id="main-container" class="container-fluid">
  <div class="row" id='page-wrapper'>
    <div class="col-sm-1">
    </div>
    <div class='col-sm-10' id='page-content'>
      Index with squares
    </div>
  </div>
</div>