<div id="main-container" class="container-fluid">
  <div class="row" id='page-wrapper'>
    <div class="col-sm-1">
    </div>
    <div class='col-sm-10' id='page-content'>
      <div class="page_title">The Coosa River</div>
      <div class="row">
        <div class='col-sm-6' id="river-img-container">
          <img id='coosa_map' src="http://coosariver.org/wp-content/uploads/2014/04/CoosaValleyofAlabama2014-187x300.jpg">
        </div>
        <div class="col-sm-6">
          <p class="about-river-p">
            The Coosa Valley, rich in aquatic biodiversity and natural beauty, is the one of the most developed rivers in Alabama – The River State. From its headwaters in Georgia and Tennessee the Coosa flows to Alabama where a series of impoundments cover the magnificent shoals that so famously dominated the Coosa in the steamboat era. Unfortunately, the impoundments changed stream ecology to lake ecology, killing dozens of species that once thrived in shoal habitat. As the most aquatically biodiverse subwatershed of the Mobile River Basin, the fourth largest basin in the country in terms of streamflow, the Coosa Valley deserves protection from threats that could further degrade its remarkable character.The Valley is steeped in history, having been ruled by the Muscogee (Creek) and Cherokee while being claimed, alternately, by the Spanish, French (who considered the Coosa and Alabama Rivers the “key to the country”) and British. The United States then took up arms to defend the Native Americans claims to the Coosa, before eventually forcing them out, making them walk the Trail of Tears before allowing them back onto reserves. The riverboat era and decades of King Cotton were a way of life that inspired the creation of Popeye the Sailorman. Unfortunately, the history of environmental injustices in the Coosa Valley is of equal magnitude.
          </p>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p class="about-river-text">
              On June 2, 2010 the American Rivers environmental group rated the Coosa as the tenth most endangered river in the United States. The main threat, the group said, was hydropower dams. 36 species were pushed into extinction when Alabama Power impounded the river for hydroelectric power in the 20th century. According to the Center for Biological Diversity, this is the greatest modern extinction event in the history of North America. Historically, the river was habitat for 147 species of fish, 91 species of snail (82 endemic, 34 total extinct), 53 species of mussels (11 endemic, 6 extinct, 5 of which were endemic).
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <p class="about-river-text">
              The history and beauty so ingrained in our lives is why, as our state motto says, “we dare defend our rights.” Journeying down the river, from beautiful Lookout Mountain, past Talladega National Forest, and just past the “rumbling water” of Wetumpka, the river takes on a new name, the Alabama. From there, the Alabama River flows on to Mobile and the Gulf of Mexico.
            </p>
          </div>
          <div class="col-sm-6" id="img-1-container">
            <img id="photo_1" src="https://scontent-atl.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/199290_976582778191_7129849_n.jpg?oh=1d1e06387a8534c42ef2b3ed79706d99&oe=55A6120F">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>