
<div id="main-container" class="container-fluid">
  <div id="bg-fade-carousel" class="carousel slide carousel-fade" data-ride="carousel">
  <!-- Wrapper for slides -->
      <div class="carousel-inner">
          <div class="item active">
              <div class="slide1">
                <h1 class="car-text"> Coosa River <h1>
              </div>
          </div>
          <div class="item">
              <div class="slide2">
                <h1 class="car-text"> Clean Water <h1>
              </div>
          </div>
          <div class="item">
              <div class="slide3">
                <h1 class="car-text"> Donate Today <h1>
              </div>
          </div>
      </div><!-- .carousel-inner -->
      <div class="container carousel-overlay text-center" id="jumbo-text">
          <h1> Coosa River </h1>
      </div>
  </div><!-- .carousel -->
  <!--end bg-carousel-->
</div>
